body {
 background-image: url(https://thumbs.dreamstime.com/b/abstract-minimalist-moving-background-loop-uhd-k-abstract-minimalist-moving-background-loop-112694497.jpg)
}

a {
 font-family: Copperplate, Papyrus, Fantasy;
 color: cadetblue;
 font-size: 30px;
}

a:hover {
  background-color: yellow;
}

h1 {
 color: maroon;
}

p {
 color: maroon;
}
