body {
 background-image: url(https://pbblogassets.s3.amazonaws.com/uploads/2020/07/07153336/Background-Loops-in-After-Effects-CC-RepeTile.jpg)
}

a {
 font-family: Copperplate, Papyrus, Fantasy;
 color: cadetblue;
 font-size: 30px;
}

a:hover {
  background-color: yellow;
}

