a {
 font-family: Copperplate, Papyrus, Fantasy;
 color: cadetblue;
 font-size: 30px;
}

a:https://gonzasan001.github.io/elmusica/glaivewebsite.html {
  background-color: yellow;
}

a:https://gonzasan001.github.io/elmusica/midwxstwebsite.html {
  background-color: yellow;
}

a:https://gonzasan001.github.io/elmusica/funeralwebsite.html {
  background-color: yellow;
}
